
.btn{
    margin:2rem 3rem 2rem 4rem;   
    color: white;
} 
.hidden{
    display:none;
}
body{
    height: 100vh;  
max-width:80%;
}
main{
height: 100vh;
margin-left: 10%;
max-width:60%;
background-color: rgb(1, 18, 21);
}
.window{
    margin:5rem;
    max-width:50%;
   height: 50vh;
    background-color:white;
    font-family:cursive;
}
.show{
    padding-left:1rem;
}
.user{
    color: rgb(250, 250, 255);
    font-size: 1.25rem;
}
.close{
    float: right;
    font-size: 2rem;
    color: rgb(15, 15, 233);
}